<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "BattMan" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="BattMan">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%#= stylesheet_link_tag :application %>
    <%= javascript_pack_tag "application" %>
    <% if !Rails.env.development? %>
      <%= stylesheet_pack_tag 'application' %>
    <% end %>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <div class="logo"></div>
          BattMan
        </a>

        <a href="<%= batteries_path %>" class="item">Batteries</a>
        <a href="<%= devices_path %>" class="item">Devices</a>

        <div class="ui simple dropdown item">
          Dropdown <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              <i class="dropdown icon"></i>
              Sub Menu
              <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
              </div>
            </div>
            <a class="item" href="#">Link Item</a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui main text container">
      <%= yield %>
      <h1 class="ui header">Semantic UI Fixed Template</h1>
      <p>This is a basic fixed menu template using fixed size containers.</p>
      <p>A text container is used for the main container, which is useful for single column layouts</p>
      <img class="wireframe" src="assets/images/wireframe/media-paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
      <img class="wireframe" src="https://semantic-ui.com/examples/assets/images/wireframe/paragraph.png">
    </div>
  </body>
</html>
